import { FC } from 'react';

import { Props } from './types';

export const {{ firstUpperCase name }}: FC<Props> = (props) => {
  const { } = props;

  return (
    <div className="">

    </div>
  );
};
{{ firstUpperCase name }}.displayName = '{{ firstUpperCase name }}';
